- if current_user
  h3 = "Welcome #{current_user.name}"
  h5 What have been your expenses today? 🤑

  = react_component('Entries', { authenticity_token: @auth_token } )

- else
  h3 Have your expenses under control!
  h5 = link_to 'Start now', new_user_registration_path
