@import "bootstrap";

main {
  margin-top: 30px;
}

// Auth forms
.authform {
  padding: 30px;
  font-size: 1.2em;
}
.authform form {
  @extend .card;
  padding: 40px;
  @extend .bg-light;
  @extend .small;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform .form-group {
  margin-left: 5px;
  margin-right: 5px;
}
.authform fieldset {
  @extend .card;
  background-color: inherit;
  margin-bottom: 20px;
  p {
    padding: 5px;
    background-color: #fff;
    font-size: 0.9em;
  }
}
#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}

// Entry forms
.input-spaced {
  margin: 5px 1px 5px 1px;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  margin: 3px;
}

// Various
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-sm;
}
img {
  @extend .img-fluid;
  margin: 0 auto;
}
.fa-trash-alt {
  margin: 3px;
  cursor: pointer;
}
