@import "bootstrap";

// Variables
$ligh-grey: rgb(244, 244, 244);

// General
main {
  margin-top: 30px;
}

// Colors
.positive {
  color: green;
}
.negative {
  color: red;
}
.neutral {
  color: black;
}

// Auth forms
.authform {
  padding: 30px;
  font-size: 1.2em;
}
.authform form {
  @extend .card;
  padding: 40px;
  @extend .bg-light;
  @extend .small;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform .form-group {
  margin-left: 5px;
  margin-right: 5px;
}
.authform fieldset {
  @extend .card;
  background-color: inherit;
  margin-bottom: 20px;
  p {
    padding: 5px;
    background-color: #fff;
    font-size: 0.9em;
  }
}
#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}

// Entry & entry forms
.entry-form fieldset {
  @extend .card;
  display: inline;
  padding: 10px;
}
.input-spaced {
  margin: 5px 1px 5px 1px;
}
.input-number {
  width: 100px;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  margin: 3px;
}

.entry-group {
  @extend .card;
  display: inline-block;
  padding: 10px;
  background-color: $ligh-grey;
  margin-bottom: 15px;
}
.entry {
  padding-top: 5px;
  padding-bottom: 5px;
  input {
    margin: 1px;
    color: inherit;
  }
  select {
    color: inherit;
  }
}

// Various
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-sm;
}
img {
  @extend .img-fluid;
  margin: 0 auto;
}
.fa-trash-alt {
  margin-left: 2px;
  margin-bottom: 4px;
  cursor: pointer;
}
